 .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover,
        .nav-tabs > li.active > a:focus,.nav-tabs > li > a:hover {
          color: white ;
          cursor: pointer;
          background-color: #6F002B;
          border: none;
          border-bottom-color: transparent;
          } 

          .not_active{
            background-color: #484848 !important;
          }

* {
  font-family:"FreesiaUPC" ;

 /* font-size: 21px;*/
}

.aside-body {

}


.mySelect{
  background-color: #E8E8E8    !important;

}
.mySelect_index{
  background-color: #f2f2f2    !important;
  width: 45%;
  padding-top: 3px;
}
.mySelect_index_year{
  background-color: #f2f2f2    !important;
  width: 15%;
  padding-top: 3px;
  /*    margin-left: 2%;
    margin-right: 2%; */
}


.mySelect_teacher{
  background-color: #e6e6e6
    !important;
    max-width: 250px;
}

td > a:link,td > a:visited,td > a:active{
  color:#000000;
}

td.download > a:hover{
  color:#6F002B;
}
td,.normal{
  font-size:18px ;
}


button{
  vertical-align: middle ;
  text-align: center !important;
  font-size:20px !important;
  text-align: center;
    font-family: "FreesiaUPC" !important;    

}



.nav-tabs>li>a{
  color:white;

}
.small-nav{
  background-color:#686868
}
.big-nav{
 /* margin-left:92px;*/
  width:90%;
  background-color:#484848;
}

.aside{
  background-color:#686868 !important   ;
  color:#E0E0E0 !important ;

}

.aside-body li a:visited,.aside-body li a:hover{
  background-color: #6F002B;
  color:#E0E0E0;


}

.aside-body li a{
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}
.aside-header{
  color:white;

  background-color:#484848;

}

div.navbar>div.container-fluid>ul>li>a:hover{
  background-color: #6F002B;

}

.navbar{
  background-color:#6F002B; 
  border-radius: 0px;

}

table.evidence, table.evidence th, table.evidence td{
    border: 1px solid #383838 ;
    background-color:#F0F0F0 ;
    color:black;
/*    border-radius:5px;
    border-collapse:separate;*/

}

table.evidence{
  border:none;
  background-color:transparent;;
}
table.evidence th{
  text-align: center;
  background-color:#6F002B ;
  color:white;
  font-weight: normal;
}

table.evidence  td{
  font-family: "FreesiaUPC";
  font-size: 18px;
  color:black;
padding:0px !important; 
     margin:0px !important;
     vertical-align: middle !important;
}

td.larger{
    width:1200px;
    text-indent: 10px;

}

td.download{
  width:150px;
  text-align: center;
  padding-left: 0px;
}

td.code{
  width:150px;
  text-align: center;
  padding-left: 0px;
}


/*.btn.editor:hover,.btn.editor:active {

    background-color:#484848 !important;
}
*/

.btn-warning {
  background-color:  #eb9114;
}
.btn.editor{
  border:none;
  background-color:#909090   ; 
   color:white;

}

/*.btn.form-control:hover,.btn.form-control:active {

    background-color:#B8B8B8  !important;
}*/


/*ul.nav.nav-stacked li{
  padding: 0px !important;
  background-color: pin
}
*/

.btn.fetch:hover,.btn.fetch:active {
    color:#6F002B;
    background-color:#F0F0F0   !important;
}

.btn.fetch{
  color: white;
}

.modal-form{
  font-size: 22px;
   font-family: 'Helvetica',"FreesiaUPC" !important;

}


.modal-body{
  max-height: 400px;

}
th.point,td.point{
    text-align: center;
  width: 68px;
  
}
.img-thumbnail{
  max-width: 250px;

}

.gall{
  margin-left: 28px;
}
th.number,td.number{
    text-align: center;
  width: 70px;
}


th.topic{
  width: 800px;

}

td.topic{
  text-indent: 10px;
}
/*table.evaluation, table.evaluation th, table.evaluation td{
   border: 1px solid #000000 ;
    background-color:#F0F0F0 ;
    color:black;
  
    border-collapse:collapse;
    font-family: "FreesiaUPC";
}
*/




optgroup {
  font-family: FreesiaUPC;
}


.btn.self-evaluate:hover,.btn.self-evaluate:active {

    background-color:#B8B8B8 !important;
}

.btn.self-evaluate{
  border:none;
  background-color:white   ; 
  color:#6F002B;  
  font-weight: bold;
  font-size: 25px;
  font-style: italic;
}

.topicHeader {
  font-family:  "FreesiaUPC";

  font-size: 21px !important;

}


.topicNewHeader {
  font-family:  "FreesiaUPC";

  font-size: 22px !important;

}

span.topic{
  font-family:  "FreesiaUPC";

  font-size: 21px !important;
}
.headerModal {
  font-family:  "FreesiaUPC";

  font-size: 40px;

  margin-bottom: 5px ;

}

/*.dropdown-menu {
  background-color:#D3D3D3;
}
*/
input[type='file']{
   font-family:  "FreesiaUPC" !important;
  font-size: 18px !important;
  vertical-align: middle !important;
  line-height:1px;
}
 input[type='file']::-webkit-file-upload-button { 

  font-family:  "FreesiaUPC" !important;
  font-size: 18px !important;
  vertical-align: middle !important;
  line-height:1;

}
 input[type='text'] { 

  font-family:  "FreesiaUPC";
  font-size: 21px !important;


}


 input[type='email'] { 

  font-family:  "FreesiaUPC";
  font-size: 21px !important;


}


 input[type='number'] { 

  font-family:  "FreesiaUPC";
  font-size: 18px;
  text-align: center;
}
 input[type='password'] { 

  font-family:  "FreesiaUPC";
  font-size: 18px;

}

input.form-control[placeholder]{
   font-size: 18px;
   font-family:  "FreesiaUPC";

}


.select-option{
  text-align: center;
  font-family: "FreesiaUPC";
  font-size: 21px;

}

 

.select-option:hover{
  background-color: #FFE6EE !important;

}


button[data-toggle="dropdown"]{
    font-size: 21px;
   font-family:  "FreesiaUPC";

}

button ul li label{
      font-size: 21px;
   font-family:  "FreesiaUPC";
   color: green;
}

.tooltip{
   font-size: 19px !important;
   font-family:  "FreesiaUPC" !important;
opacity: 0.9 !important;


}
.tooltip-inner {
  max-width: 900px !important;
}

table.plain,table.plain th,table.plain td{
  border: 1px solid #cccccc;
padding:5px;
}

table.plain {
  border-collapse: collapse;
}



table.plain tr {
  color: #484848;;
}



table.plain th{
 text-align: center;
 font-size: 22px;
}

table.plain td{
 text-align: left;
 font-size: 20px;
}

table.plain td.ppoint {
  text-align: center;;
}

table.plain th {
  color: #6F002B;;
}

.hvr-pulse{
   transition-duration: 20s;
   backface-visibility: hidden;
}

td button li label{
     font-size: 21px;
   font-family:  "FreesiaUPC";
}

.thumb_center_please {
    display: inline-block;
    width: 90px;
    height: 90px;
/*    margin: 5px;
    border: 3px solid #c99;*/
    border-radius:50%;
    background-position: center center;
    background-size: cover;
}
.thumb_center_please_show_manage_profile {
  float:left;margin-left:5%;
    width: 410px;
    height: 410px;
/*    margin: 5px;
    border: 3px solid #c99;*/
    border-radius:50%;
    background-position: center center;
    background-size: cover;
        margin-top: 3.5%;
}
.thumb_center_please_album_preview{
margin-left:1px;margin-right:1px;margin-top:3px;margin-bottom:3px;
    width: 75px;
    height: 50px;
        display: inline-block;
/*    margin: 5px;
    border: 3px solid #c99;*/
/*    border-radius:50%;*/
    background-position: center center;
    background-size: cover;
        cursor: pointer;;
}
.thumb_center_please_show {

    float:right;margin-top:10px;margin-right:70px;
    width: 240px;
    height: 240px;
/*    margin: 5px;
    border: 3px solid #c99;*/
    border-radius:50%;
    background-position: center center;
    background-size: cover;

}
.thumb_center_please_profile_pic {
  margin-right:23px;
  margin-top:1px;
    
    width: 79px;
    height: 79px;
/*    margin: 5px;
    border: 3px solid #c99;*/
    border-radius:50%;
    background-position: center center;
    background-size: cover;
    cursor: pointer;;
}
    ul li ul.dropdown{
        min-width: 200px; /* Set width of the dropdown */
        background: #6F002B  ;
        display: none;
       
        z-index: 999;
        float: right;
    

     position: absolute;
          top: 62%;
          right: -200px;
          margin-top: -24.5px;
         padding-left: 0px;
         text-align: center;
     
    }



   ul li ul.dropdownImg{
        min-width: 110px; /* Set width of the dropdown */

        display: none;
       
        z-index: 999;
        float: left;
    

     position: absolute;
          top: 39.5%;
          right: 7%;
          margin-top: 49px;
         padding-left: 0px;

         text-align: center;
     
    }

    ul.dropdown li:hover{

      color: white;

    }
    ul li:hover ul.dropdown{
        display: block; 
        background-color: #484848;

    }

     ul li:hover ul.dropdownImg{
        display: block; 
        background-color: #6F002B;

    }

     ul.dropdown li{
    
      list-style-type: none;
    }

         ul.dropdownImg li{
    
      list-style-type: none;
    }
    ul li ul.dropdown li a{
        display: block;
    }

    ul.dropdownImg a{
      font-size:22px;
      color:white;
    }

    ul.dropdownImg li.profile_name{
      font-family: "FreesiaUPC";
      font-size:25px;
      color:#6F002B;
      background-color: white ;
 
    }
    ul.dropdownImg li.bull:hover{
      background-color: #686868 ;
     
      color:#6F002B;
    }

div.aside-body ul.nav li:hover {background: #6F002B; }
div.aside-body ul.nav li:hover ul {display: block;}

    ul.dropdown a:hover{
      text-decoration: none;
      color: white;

    }

div#leftMenuAside{
  overflow:visible !important;
}



/*select {
  text-align: center !important;

}

option {
  text-align: center !important;
  
}
*/
.topic-modal{
  text-align: center;
}

.plusgreen{
  background-color: #339900;
  border-color: #008800;

}
a[data-title="Delete"] i{
  color:red !important;
}

a[data-title="Delete"] i:hover{
  color:#990000 !important;
}

a[data-title="Update"] i{
  color:#FF9900 !important;
}


a[data-title="Do"] i{
  color:#3399CC !important;
}

a[data-title="Download"] i{
  color:#990033 !important;
}

a[data-title="Download"] i:hover{
  color:#660033 !important;
}
thead.flattened tr td{
  text-align: center;

}
table.table_modal .user{
  background-color:#808080  ;
  vertical-align: middle;

}

table.table_modal .make_topic{
  background-color:#989898 ;  
  
}

table.table_modal .data_topic{
 background-color:#B0B0B0  
  
}


table.table_modal .evaluate_topic{
 background-color:#C8C8C8  ; 
  
}

.btn-success{
  background-color:   #739900;
  border-color:  #6e8000;
}

.btn-success:hover{
  background-color: #5e8000 !important;
}


table.table_modal th{
  font-size: 23px !important;
  text-align: center;
  color: #6F002B;
  background-color: #cccccc   ;
}

table.table_modal td,table.table_modal td div{
  font-family:  "FreesiaUPC" !important;
  font-size: 21px ;
  text-align: center;
  vertical-align: middle;
}

table.table_modal td.larger, table.table_modal td.topic{
  text-align: left;
}
/*tbody.pri td img{
  margin-left: 30px;
}*/


.img-thumbnail{
  width: 200px;
}
.left_column{
  text-align: left !important;
}

.panel-title{
  font-size: 30px !important;
  color:#6F002B;
  font-weight: bold;;
}

button.plusgreen:hover{
  background-color: #006600;
}

.custom-header{
  height: 80px;
  margin-top: 10px;
  background-color:#6F002B;
  color:white;
}
.just_alert-backdrop{
      opacity:0.8 !important;

}
div.aside-body ul.nav.nav-stacked li a i {
  margin-top: 5px;
}
/*.just_alert .modal-content{
      width:1000px;

}*/
.just_alert .modal-header{

  margin-top: 10px;
  background-color:#bc2e29 !important;

}
.just_alert .modal-header h4.modal-title{
  color:white !important;
  font-size: 35px !important;
  text-align: center;;
}

.just_alert .modal-body {
  font-size: 21px!important;
}
.just_alert .modal-footer{
 
  margin-top: 0px;
  background-color:#bc2e29 !important;
  color:white !important;
  font-size: 25px !important;

}
.just_alert .modal-footer button{
  margin-top: 2.5px!important;
}


.custom-footer{
  background-color:#6F002B !important;

}
/*.panel-heading{
  background-color: #808080 !important;
}*/

.modal-backdrop
{
    opacity:0.8 !important;
 /*      height: 100% !important;
   z-index: -1 !important;*/
}

.just_alert-backdrop.in {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color:#000;
}

.modalbox-backdrop
{
    opacity:0.8 !important;
 /*      height: 100% !important;
   z-index: -1 !important;*/
}


.modalbox .modal-header{

  margin-top: 10px;
  background-color:#bc2e29 !important;

}
.modalbox .modal-header h4.modal-title{
  color:white !important;
  font-size: 35px !important;
  text-align: center;;
}

.modalbox .modal-body {
  font-size: 25px!important;
  text-align: center;
}
.modalbox .modal-footer{
 
  margin-top: 0px;
  background-color:#bc2e29 !important;
  color:white !important;
  font-size: 25px !important;

}
.modalbox .modal-footer .btn.btn-primary{
    color: #333;
    background-color: #fff;
    border-color: #ccc;

}
.modalbox .modal-footer button{
  margin-top: 2.5px!important;
}

.modalbox-backdrop.in {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color:#000;
}

/*
.modal-dialog{
  z-index: 0 !important;
}

*/
.custom-body{
  overflow:hidden !important;
}

.headerModalH1{
text-align:center;
color:white;

  font-family:  "FreesiaUPC";
  font-weight: normal !important;;
  font-size: 35px;
  padding:0px !important; 
     margin-top:3px;
     padding-top: 0px !important;

}

.headerModaltemp{
text-align:center;
color:white;

  font-family:  "FreesiaUPC";
  font-weight: normal !important;;
  font-size: 34px;
  padding:0px !important; 
     margin-top:3px;
     padding-top: 0px !important;

}
.modal-header{
  height:50px!important;
    padding-top: 3px !important;
}

.modal-footer{
    height:48px!important;
    padding-top: 0px !important;
}

.custom-footer .topicHeader.pull-right {
  padding-top: 4px !important;

}

.custom-footer  button{
padding-top: 4px!important;
padding-bottom: 4px!important;
}
.panel-default{
  /*margin-bottom:0px !important;
  padding-top: 10px !important;*/
}


input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(1.5);

  /* Webkit browsers*/
  -webkit-transform: scale(1.5);
}

input[type=radio] {
  /* All browsers except webkit*/
  transform: scale(1.3);

  /* Webkit browsers*/
  -webkit-transform: scale(1.3);
  cursor:pointer;
}

.profile_pic{
  cursor:pointer;
}
.myColorBold{
  color:#6F002B;
  font-weight: bold;
}

h4{
  font-family: "FreesiaUPC" ;
}

table.research td, table.research td div{
  font-size:22px !important;
}
a{
  text-decoration: none !important;
}
/*.modal .modal-body {
    max-height: 500px;
    overflow-y: hidden;
}*/

textarea.form-control{
  font-family: "FreesiaUPC";
  font-size: 21px;
}



h1.headerPanel{
  font-family: "FreesiaUPC" !important;
  font-weight: bold;
  text-align: center;
}



h2.headerSubPanel{
  font-family: "FreesiaUPC" !important;
  font-weight: bold;
}
table.evaluation th{
  background-color: #6F002B;
    text-align: center;
  color:white;
  font-size: 22px !important;
  font-weight: normal !important;
  font-family: "FreesiaUPC" !important;
}

table.evaluation td{
  background-color: #F4F4F4  ;
  color:black;

}

.table-hover tr:hover td {
  background-color: #e9e9e9;
}


.table-hover.special_teacher tr:hover td {
  background-color:    #f0f0f0;
}

table.evaluation td.result{

  font-size: 23px !important;
}

table.evidence th{
  background-color: #6F002B;
    text-align: center;
/*  font-weight: bold;*/
 font-size: 22px !important;
  color:white;

}


table.evidence td{
   background-color: #F4F4F4  ;
   color:black;
   font-size: 18px;

}

table.evaluation{
  width: 1100px;

}

table.evaluation td{
 
     padding:0px !important; 
     margin:0px !important;
     vertical-align: middle !important;
}
/*table.evidence{
  width: 650px;
}
*/

table.evaluation{
   margin: auto !important;
}

/*.myTip{
  font-family: "FreesiaUPC" !important;
  font-size: 21px !important;
 
}*/

.panel.pageable-edit-panel.panel-stretch .panel-footer .btn{
  /*background-color: red !important;*/

}



.big-nav li a,.small-nav li a{
  font-weight: normal !important;
  font-size:11px !important;
  font-family: 'Helvetica' ;
}

.alertPop{
  font-size: 18px !important;
      color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.loginPop{
  font-size: 18px !important;
      color: #fff;
    background-color: #6F002B;
    border-color: #4d001d;
}

.alertPopFileSize{
  font-size: 18px !important;

    color: #fff;
    background-color: #ff6600;
    border-color: #e65c00;
}




li.headerWeb span.boldPlease{
  font-family: 'Quicksand' ;
font-weight: bold;
 color:#E0E0E0;
}

li.headerWeb{
 
  font-size:43px;
 color:#D8D8D8  ;
  margin-top:18px;
    font-family: 'Quicksand' ;
    font-weight: normal;
}
.resultGreen{
  color:green !important;
}

.resultGreenback{
  background-color:#6e8000 !important;
  color:white !important;
}

.resultRedback{
  background-color:#bc2e29 !important;
    color:white !important;
}


.resultRed{
  color:red !important;
}

table.evaluation th{
  vertical-align:middle !important;

}

ul.non_bullet {
list-style-position:outside;
 list-style-type: none;

}

table.evaluate_aun th{
  vertical-align:middle !important;

}


.alertPopSuccess{
    font-size: 18px !important;
      color: #fff;
  background-color:   #739900;
  border-color:  #6e8000;
}




.danger{
   background-color: #d9534f;
}


.little_danger{
  border:1px solid #d9534f;
  background-color: white;
}



table.evaluate_aun td{

     padding-left: 5px ;
      padding-right: 5px ;
     padding-top: 1px!important;
     padding-bottom: 1px !important;
     vertical-align: middle !important;
      background-color: #F4F4F4  ;
}
table.special_teacher td{
  background-color: #F8f8f8  ;
}
table.evaluate_aun th{
  background-color:   #86002e;
  color:white;
  font-weight: normal;
}
table.evaluate_aun .point{
  width: 50px;
}

table.evaluate_aun .topic_evaluation{
  width: 500px;
}


.panel-footer{
  height: 0px!important;
}

.modal-body{
  max-height: 100%!important;
}

.manage_president_in_hide{
  margin-left: 50px;

}


.manage_president_in_hide li{

  margin-left:55px  !important  ;
}


th.number_indicator,td.number_indicator{
    text-align: center;
  width: 60px;
}

th.noti,td.noti{
    text-align: center;
  width: 60px;
}

th.assign_man,td.assign_man{
 
  width: 200px;
}


td.number_indicator input[type=number]{
    width: 40px;
} 

td.topic_indicator{
  width: 400px;
}



td.primary_evidence_admin{
  width: 200px;
}


th.number_sub_indicator,td.number_sub_indicator{
    text-align: center;
  width: 40px;
}

td.number_sub_indicator input[type=number]{
    width: 60px;
} 

td.code_evidence_column, th.code_evidence_column{
  width: 90px;
}

td.code_evidence_column input[type=number]{
    width: 60px;
} 
.already_send {
  color:#4cae4c;
}

.not_send{
  color:#d9534f;
}

input.form-control{
      width: 98%;

}
input.form-control.fix_evidence_file{
   width: 93%;
}


.manage_evidence_table input[type='text']{
    font-family:  "FreesiaUPC";
  font-size: 19px !important;
  vertical-align: middle !important;
}

.manage_evidence_table input[type='number']{
    font-family:  "FreesiaUPC";
  font-size: 19px !important;
  vertical-align: middle !important;
}

div#manage_primary_evidences_admin input.form-control{
   width: 99%;
}



a.highlight_evidence:hover{
  color:#6F002B;
   cursor: pointer;
}

.lightbox-nav a{
  font-size: 21px ;
  color:#6F002B;
}

.lightbox-nav button{
    font-size: 41px !important;
}

.gallery-box {
    width: 200px;
    padding: 5px;
    margin: 7px;
    float: left;
    min-height: 200px;
    border: 1px solid #ddd;
    overflow: hidden;
}

.thumbnail {
    line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
    word-break: normal;
     max-height: 170px;
     min-height: 170px;
}

.gallery-box a{
  font-size: 18px;
}

.gallery-box span.title{
  font-size: 17px;
}

.show_lightbox img:hover{
  cursor: pointer;
}
.click_me:hover{
  cursor: pointer;
}
.gallery-box-edit{
      width: 255px;
    padding: 5px;
    margin: 7px;
    float: left;
    min-height: 255px;
    border: 1px solid #ddd;
    overflow: hidden;

}

.gallery-box-show{
      width: 255px;
    padding: 5px;
    margin: 7px;
    float: left;
     min-height: 245px;
 max-height: 245px;
    border: 1px solid #ddd;
    overflow: hidden;

}

.thumbnail.edit{
     line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
    word-break: normal;
     max-height: 220px;
     min-height: 220px;
}

.thumbnail.show{
     line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
    word-break: normal;
     max-height: 200px;

}



.gallery-box-show span.title-edit{
  font-size: 21px;
}

.gallery-box-show a{
 font-size: 21px;
}



.gallery-box-edit span.title-edit{
  font-size: 21px;
}

.gallery-box-edit a{
 font-size: 21px;
}


input.form-control.title-edit,input.form-control.full{
      width: 100%;

}

input.form-control.album-title{
    width: 97%;
}

input.form-control.title{
    width: 100%;
    font-size: 19px;
}


.titile_priviledge{
  color:#6F002B;
font-size: 22px!important;
 padding-top:2px;
}

.pink_please{
  background-color: #f8edf1;
  width: 98%;
  padding-top:4px;
}

.aside-opened.aside-collapsed {
  width: 50px;
}

.aside-body ul.nav.nav-stacked li a{
   font-size: 17px;
   padding-left: 14px;
}

.carousel-control{
  opacity:0;
}


.carousel-control:hover{
  opacity:.2; 
  cursor: pointer;;
}
.carousel.ng-isolate-scope{
  width: 100% !important;
  height: 100% !important;
}





.container {
  position: relative;
}

.login_index_select_button_row {
    position: absolute !important;
    z-index: 1 !important;
    top: 99px !important;
    width: 100% !important;
    margin-left: 2% !important;

}

.login_indicator_row{

    margin-left: 3.8% !important;

}

.overflow_dont_care {
  overflow:hidden;
}

.overflow_care {
  overflow-x:hidden;
  overflow-y:auto;
}

.carousel{
    max-height:100%;
}


.container_each {
  position: relative;
  width: 40%;
  max-width: 500px;
  left: 50%;
  top: 67%;
  padding: 10px 20px;
  background-color:rgba(0 , 0, 0,0.6);
  color:rgba(255 , 255, 255,0.7);
}

li.hierarchy ul.dropdown a{
  padding-left: 0px !important;
}

.backto_full{
  background-color:#6F002B !important;
}

a.login_text:hover{
  cursor: pointer!important;
  color:white!important;
  background-color: transparent !important;
}

.nav>li>a.login_text:focus, .nav>li>a.login_text:hover{
   background-color: transparent !important;
}
.modal-content {
  max-height: 100% !important;
}

.nav.select-render-nav > li > a{
  font-size: 17px;
  vertical-align: middle;;
}

.nav.select-render-nav{
  width:500px !important;
}

input[type='text'].cke_dialog_ui_input_text{
    font-size: 18px!important;
}
span.select-option.option-label{
  text-align: left;
  padding-left: 20px;
}

.not_left span.select-option.option-label{
  text-align: center !important;
  padding-left: 0px !important;
}

.select-input.form-control{
  font-size: 18px !important;
}

span.no-match {
font-size: 18px !important;
}

body > .inner {
  display: none;
}

body.pg-loaded > .inner {
  display: block;
}

/*===Below style define by ce51benz===*/
.txt-title{
  font-size:21px !important;
  font-weight: 400;
  color:#6F002B;
}

.txt-normal{
  font-size:21px !important;
}

/*set fix-height(via line-height) of main menu*/
ul.nav-aside > li{
  line-height:25px;
}

/*Set height of aside sub-menu*/
ul.nav-aside ul.sub-menu{
  line-height:29px !important;
}

/*Fix IE/Firefox/Edge cannot see the padding-bottom area when content is larger than its container*/
.well-scrollable{
padding-bottom:0px !important;
}
.well-scrollable > *:nth-last-child(2) {
    padding-bottom: 19px;
}
/*End fix*/