<!DOCTYPE html>
<html lang="en-US" ng-app="myProject">


<body>

    <div ng-controller="indexController">
        {{aa}}
    </div>
    <footer>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="/app/app.js"></script>
        <script src="/app/controllers/indexController.js"></script>
    </footer>

</body>
</html>