<!DOCTYPE html>
<html>
<head>
    <script src="//cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <form>
        <textarea name="editor1" rows="10" cols="80"></textarea>

        <script type="text/javascript">
    CKEDITOR.replace("editor1");
        </script>
    </form>
</body>
</html>
