<html>
<head>
    <title></title>
</head>
<body>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('MyApp', ['ngCookies']);
        app.controller('MyController', function ($scope, $window, $cookies) {
            $scope.WriteCookie = function () {
              console.log('write')
              console.log($cookies)
                $cookies.put("Name", $scope.Name);
                console.log($cookies.session)
            console.log($cookies)
            };
            $scope.ReadCookie = function () {
               console.log('read')
                $window.alert($cookies.get('Name'));
                console.log($cookies.session)
            };
            $scope.RemoveCookie = function () {
               console.log('remove')
                $cookies.remove('Name');
                console.log($cookies.session)
            };
        });
    </script>
    <div ng-app="MyApp" ng-controller="MyController">
        Name:
        <input type="text" ng-model="Name" />
        <br />
        <br />
        <input type="button" value="Write Cookie" ng-click="WriteCookie()" />
        <input type="button" value="Read Cookie" ng-click="ReadCookie()" />
        <input type="button" value="Remove Cookie" ng-click="RemoveCookie()" />
    </div>
</body>
</html>