<!DOCTYPE html>
<html data-ng-app="myProject">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>KMITL CUPT-QA ONLINE</title>

   <!--  // <script src="/app/app.js"></script>
    // <script src="/app/controllers/indexController.js"></script> -->
<!--     // <script type="text/javascript" src="/app/app.js"></script>
    // <script type="text/javascript" src="/app/controllers/indexController.js"></script> -->
    <link rel="shortcut icon" href="/bower_components/quantumui/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/bower_components/quantumui/images/favicon.ico" type="image/x-icon">
    <link href="/bower_components/hover/css/hover.css" rel="stylesheet" media="all">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="/bower_components/quantumui/dist/css/addon/effect-light.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/bower_components/wow/css/libs/animate.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://code.angularjs.org/1.3.13/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.13/angular-sanitize.min.js"></script>
    <script src="https://code.angularjs.org/1.3.13/angular-animate.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/bower_components/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <link rel="stylesheet" href="/bower_components/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/bower_components/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <link rel="stylesheet" href="/bower_components/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/bower_components/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/bower_components/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
    <link rel="stylesheet" href="/bower_components/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
    <script type="text/javascript" src="/bower_components/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
    <script src="/bower_components/quantumui/dist/js/quantumui-all.min.js"></script>
    <script src="/bower_components/quantumui/config/icons.js"></script>
    <script src="//cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
    <link href="/Content/dropdowns-enhancement.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="/Content/myCss.css" rel="stylesheet" />
    <link href="/bower_components/quantumui/dist/css/quantumui.min.css" rel="stylesheet" />
    <script type="text/javascript" src="/bower_components/dropdowns-enhancement/dropdowns-enhancement.js"></script>
    <script type="text/javascript">
     var app = angular.module('myProject', [
        'ngSanitize',
        'ngAnimate',
        'ngQuantum'
      ]);

      app.controller('indexController', function ($scope, $http) {
        $scope.curri_choosen = "";
        $scope.curri_me = "";
        
        $http.get("/api/curriculum").success(function (data, status, headers, config) {

              $scope.all_curriculums = data;

          });

        // $http.get("/api/curriculumAcademic").success(function (data, status, headers, config) {
        //       $scope.aca_yrs = data;

        //   });

     
        $scope.sendCurriAndGetYears =  function (curri){
        	 $scope.curri_me = curri;
           $http.post('/api/curriculumacademic',  {'Cu_curriculum': curri }).success(function (data, status, headers, config) {
            $scope.corresponding_aca_years = data;
        });
        }





      });

    </script>

    <script>
$(document).ready(function(){

  $('[data-toggle="tooltip"]').tooltip();


});

$('.profile_pic').mouseover(function(){
    if ($(this).hasClass('selected')) return;
    $('.selected').removeClass('selected');
    $(this).addClass('selected');

});


    });
    </script>
    <script src="/bower_components/wow/dist/wow.min.js"></script>
    <script>
              wow = new WOW(
                      {
                      boxClass:     'wow',      // default
                      animateClass: 'animated', // default
                      offset:       20,          // default
                      mobile:       true,       // default
                      live:         true        // default
                    }
                    )
                    wow.init();
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
      /*
       *  Simple image gallery. Uses default settings
       */
   $('.fancybox').fancybox({
            openEffect : 'elastic',
        closeEffect : 'elastic',
      autoResize : true,
        nextClick : true,
    width       : 800,
    height      : 450,
    aspectRatio : true,


        helpers : {
          title : {
            type : 'inside'
          },
          thumbs : {
            width  : 50,
            height : 50
          }
        }
      });

    });
    </script>

    <script type="text/javascript">

      var inputNum = 0;
      function deleteQuestion(surveyName,nameButton){

        // var survey = document.getElementById(surveyName);
        // var divToDel = document.getElementById(nameButton);

        surveyName.removeChild(nameButton);
      }

      function sum(name){
        // var my_input1 = document.getElementById('my_input1').value;
        // var my_input2 = document.getElementById('my_input2').value;
        var num1 = document.getElementById(name+"1").value;
        var num2 = document.getElementById(name+"2").value;
        var result = document.getElementById(name+"Sum");

        var sum = parseInt(num1) + parseInt(num2);

        result.value = sum
        // alert(num1.value)

      }

      function addQuestionInSurvey(surveyName,addButtonId,placeholderName){
        var survey = document.getElementById(surveyName);
        var button = document.getElementById(addButtonId);

        var newRow = document.createElement("div");
        newRow.setAttribute("class","row");
        var nameButton = "button"+inputNum.toString()
        newRow.setAttribute("id",nameButton);

          var newDiv = document.createElement("div");
          var newDiv2 = document.createElement("div");
          newDiv.setAttribute("class","col-md-10");
          newDiv2.setAttribute("class","col-md-2");
          var delButton = document.createElement("button")
          delButton.setAttribute("class","btn btn-default btn-md hvr-pulse")

          delButton.setAttribute("onclick",'deleteQuestion('+surveyName+','+nameButton+')');
          delButton.style.marginLeft = "0px"

          delButton.style.backgroundColor = " transparent"
          delButton.style.border = " none"
          var newSpan = document.createElement("span");
          newSpan.setAttribute("class","glyphicon glyphicon-minus-sign");
          newSpan.style.color ="red";
          delButton.appendChild(newSpan);

          var inputBox = document.createElement("input");
          inputBox.setAttribute("type","text");
          inputBox.style.marginLeft = "30px"
          inputBox.setAttribute("class","form-control");
          inputBox.setAttribute("placeholder",placeholderName);
        newDiv2.appendChild(delButton);


          newDiv.appendChild(inputBox);

          newRow.appendChild(newDiv);
          newRow.appendChild(newDiv2);

          survey.insertBefore(newRow,button);
          inputNum = inputNum +1;


      }
    </script>
</head>
<body ng-controller="indexController">
<!-- 
                   <select data-qo-button-class="mySelect" data-qo-speed="fastest" data-nq-select="" data-ng-options="curri.curr_tname for curri in all_curriculums" data-qo-effect="flip-x" data-qo-placeholder="กรุณาเลือกหลักสูตร" data-ng-change="sendCurriAndGetYears(curri)" data-ng-model="curri_choosen">
            
                </select> -->
{{' '+curri_choosen+' '}}
<input [type=*] ng-model="curri_choosen" />

      
   <!--        <select name="staticSelectModel" data-nq-select="" data-qo-placeholder="static select options" data-ng-model="curri_choosen">
            <option value="Yellow">Yellow</option>
            <option value="red">Red</option>
            <option value="Aqua">Aqua</option>
            <option>Teal</option>
            <option>Magenta</option>
            <option>Orange</option>
            <option>Blue</option>
            <option>Chocolate</option>
          </select> -->

        <select ng-model="curri_choosen" class="form-control" ng-change="sendCurriAndGetYears(curri_choosen)">
       		<option class="form-control" ng-repeat="curri in all_curriculums" value="{{curri}}">{{curri.curr_tname}}</option>
        </select>
           
        {{corresponding_aca_years}}
         <select ng-model="curri_choosen" class="form-control">
       		<option class="form-control" ng-repeat="year in corresponding_aca_years" value="{{year}}">{{year.aca_year}}</option>
        </select>
        {{curri_me}}
</body>
</html>